    <header class="nxl-header">
      <div class="header-wrapper">
        <!--! [Start] Header Left !-->
        <div class="header-left d-flex align-items-center gap-4">
          <!--! [Start] nxl-head-mobile-toggler !-->
          <a
            href="javascript:void(0);"
            class="nxl-head-mobile-toggler"
            id="mobile-collapse"
          >
            <div class="hamburger hamburger--arrowturn">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </a>
          <!--! [End] nxl-head-mobile-toggler !-->
          <!--! [Start] nxl-navigation-toggle !-->
          <div class="nxl-navigation-toggle">
            <a href="javascript:void(0);" id="menu-mini-button">
              <i class="feather-align-left"></i>
            </a>
            <a
              href="javascript:void(0);"
              id="menu-expend-button"
              style="display: none"
            >
              <i class="feather-arrow-right"></i>
            </a>
          </div>
          <!--! [End] nxl-navigation-toggle !-->
          <!--! [Start] nxl-lavel-mega-menu-toggle !-->
          <div class="nxl-lavel-mega-menu-toggle d-flex d-lg-none">
            <a href="javascript:void(0);" id="nxl-lavel-mega-menu-open">
              <i class="feather-align-left"></i>
            </a>
          </div>
          <!--! [End] nxl-lavel-mega-menu-toggle !-->
        </div>
        <!--! [End] Header Left !-->
        <!--! [Start] Header Right !-->
        <div class="header-right ms-auto">
          <div class="d-flex align-items-center">
            <div class="dropdown nxl-h-item nxl-header-search">
              <a
                href="javascript:void(0);"
                class="nxl-head-link me-0"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
              >
                <i class="feather-search"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-search-dropdown">
                <div class="input-group search-form">
                  <span class="input-group-text">
                    <i class="feather-search fs-6 text-muted"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control search-input-field"
                    placeholder="Search...."
                  />
                  <span class="input-group-text">
                    <button
                      type="button"
                      class="btn-close"
                    ></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="dropdown nxl-h-item">
              <a
                href="javascript:void(0);"
                data-bs-toggle="dropdown"
                role="button"
                data-bs-auto-close="outside"
                class="nxl-head-link me-0 nxl-desktop-toggle"
              >
                <i class="feather-monitor"></i>
              </a>
            </div>
            <div class="dropdown nxl-h-item">
              <a
                class="nxl-head-link me-3"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                data-bs-auto-close="outside"
              >
                <i class="feather-bell"></i>
                <span class="badge bg-danger nxl-h-badge">3</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-notifications-menu">
                <div class="d-flex justify-content-between align-items-center notifications-head">
                  <h6 class="fw-bold text-dark mb-0">Notifications</h6>
                  <a
                    href="javascript:void(0);"
                    class="fs-11 text-success text-end ms-auto"
                    data-bs-toggle="tooltip"
                    title="Make as Read"
                  >
                    <i class="feather-check"></i>
                    <span>Make as Read</span>
                  </a>
                </div>
                <div class="notifications-item">
                  <div class="notifications-desc">
                    <a href="javascript:void(0);" class="font-body text-truncate-2-line">
                      <span class="fw-semibold text-dark">New vendor registered</span>
                      <small class="fs-11 fw-normal text-muted">2 hours ago</small>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown nxl-h-item">
              <a
                href="javascript:void(0);"
                data-bs-toggle="dropdown"
                role="button"
                data-bs-auto-close="outside"
              >
                <img
                  src="assets/images/avatar/1.png"
                  alt="user-image"
                  class="img-fluid user-avtar me-0"
                />
              </a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-user-dropdown">
                <div class="dropdown-header">
                  <div class="d-flex align-items-center">
                    <img
                      src="assets/images/avatar/1.png"
                      alt="user-image"
                      class="img-fluid user-avtar"
                    />
                    <div>
                      <h6 class="text-dark mb-0">
                        Admin User
                        <span class="badge bg-soft-success text-success ms-1">PRO</span>
                      </h6>
                      <span class="fs-12 fw-medium text-muted">admin@vendorsnsp.com</span>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-item">
                    <i class="feather-user"></i>
                    <span>Profile</span>
                  </a>
                  <a href="javascript:void(0);" class="dropdown-item">
                    <i class="feather-settings"></i>
                    <span>Settings</span>
                  </a>
                  <a href="javascript:void(0);" class="dropdown-item">
                    <i class="feather-log-out"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--! [End] Header Right !-->
      </div>
    </header>
