    <nav class="nxl-navigation">
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="index.html" class="b-brand">
            <!-- ========   change your logo hear   ============ -->
            <img
              src="assets/images/logo-full.png"
              alt=""
              class="logo logo-lg"
            />
            <img
              src="assets/images/logo-abbr.png"
              alt=""
              class="logo logo-sm"
            />
          </a>
        </div>
        <div class="navbar-content">
          <ul class="nxl-navbar">
            <li class="nxl-item nxl-caption">
              <label>Navigation</label>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-airplay"></i></span>
                <span class="nxl-mtext">Dashboard</span
                ><span class="nxl-arrow"
                  ><i class="feather-chevron-right"></i
                ></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="index.html">Overview</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-users"></i></span>
                <span class="nxl-mtext">Vendors</span
                ><span class="nxl-arrow"
                  ><i class="feather-chevron-right"></i
                ></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="vendors.html">All Vendors</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="vendors-view.html">Vendor Profile</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="customers-create.html"
                    >Onboard Vendor</a
                  >
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-package"></i></span>
                <span class="nxl-mtext">Item Catalog</span
                ><span class="nxl-arrow"
                  ><i class="feather-chevron-right"></i
                ></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="browse-items.html">Browse Items</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="item-details.html">Item Details</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="projects-create.html">Add Item</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-shopping-cart"></i></span>
                <span class="nxl-mtext">Purchases</span
                ><span class="nxl-arrow"
                  ><i class="feather-chevron-right"></i
                ></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="payment.html">Purchase Orders</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="invoice-view.html"
                    >Order Details</a
                  >
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="invoice-create.html"
                    >Create Order</a
                  >
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"
                  ><i class="feather-file-text"></i
                ></span>
                <span class="nxl-mtext">RFQ & Bidding</span
                ><span class="nxl-arrow"
                  ><i class="feather-chevron-right"></i
                ></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="proposal.html">All RFQs</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="proposal-view.html">RFQ Details</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="rfq-create.html">Create RFQ</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-bar-chart-2"></i></span>
                <span class="nxl-mtext">Reports</span
                ><span class="nxl-arrow"
                  ><i class="feather-chevron-right"></i
                ></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="reports-sales.html">Purchase Reports</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="reports-leads.html">Vendor Performance</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-settings"></i></span>
                <span class="nxl-mtext">Settings</span
                ><span class="nxl-arrow"
                  ><i class="feather-chevron-right"></i
                ></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-general.html">General</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-tags.html">Categories</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="card text-center">
            <div class="card-body">
              <i class="feather-shopping-bag fs-4 text-dark"></i>
              <h6 class="mt-4 text-dark fw-bolder">Vendor Collaboration</h6>
              <p class="fs-11 my-3 text-dark">
                Vendors+NSP streamlines vendor management, procurement, and bidding processes.
              </p>
              <a
                href="javascript:void(0);"
                class="btn btn-primary text-dark w-100"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
